


.expertmon{

        background-image: url(http://getwallpapers.com/wallpaper/full/6/b/7/1337956-jamaica-wallpaper-1920x1200-for-4k.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        text-align: center;
}




.Highscores{
        font-size:50px;
        color:white;
}

.heading3{
        font-size:30px;
        color:white;  
}